In [1]:
import pandas as pd
import plotly.express as px

In [2]:
df = pd.read_csv('data/crypto.csv')

Q1. If you were sent back in time to a random date in the past with one Bitcoin worth £20,000 in today’s prices. What is the probability it will be worth more when you arrive in the past?  

Q2. You get sent back in time to a random date in the past. You don't know the date, and you only have time to make one decision before you are transported back to the current day. What would you do in these situations, if you are
    a) ...sent back with one Bitcoin worth £20,000 in today’s money, should you sell the coin or do you keep it? For each strategy, how much money would you make on average?  
    b) ...sent back with money but no crypto-currency, should you buy one Bitcoin? For each strategy, how much money would you make on average?  

Q3. You will be sent back to the 21st September 2021 (the most recent day in the dataset) and then will be sent back again to an earlier date:  
    Should you:  
    1) Buy a Bitcoin when you arrive in September and keep it till you are transported back to 2022?  
    2) Buy a Bitcoin when you arrive in September and sell it when you are transported to an earlier date?  
    3) Not buy a Bitcoin at all.  

[Hard]
Q4. Its the 1st January 2018 (the start of the dataset) and a future version of G-Research has just sent back a working time machine back.  
    a) Whats the most money that could be made in the next three years if you knew what the closing price of Bitcoin would be tomorrow?  
    b) Would you have still made money if you used your previous strategy, but the time machine was broken, such that you actually knew the closing price from one week before you thought? For example the 'known' price at the 8th September 2019 is actually the price at the 1st September 2019.

In [3]:
df = df[df['Asset_Name']=='Bitcoin']

In [4]:
df.shape

(1360, 3)

In [6]:
df[df['Close'] > 20000].shape

(279, 3)

In [7]:
279/1360 * 100

20.514705882352942

In [8]:
# Question a
df['Close'].mean()

15634.658444852941

In [11]:
# QUESTION 3
df.tail()

# BC worth 43002.5050

     Asset_Name   timestamp       Close
4075    Bitcoin  2021-09-17  47769.5096
4076    Bitcoin  2021-09-18  47333.4914
4077    Bitcoin  2021-09-19  48295.5087
4078    Bitcoin  2021-09-20  47272.4743
4079    Bitcoin  2021-09-21  43002.5050

In [12]:
# QUESTION 4

In [14]:
df['day_profit'] = df['Close'].diff()

In [15]:
df.head()

     Asset_Name   timestamp      Close  day_profit
2720    Bitcoin  2018-01-01  13850.176         NaN
2721    Bitcoin  2018-01-02  13468.698    -381.478
2722    Bitcoin  2018-01-03  14743.424    1274.726
2723    Bitcoin  2018-01-04  15107.792     364.368
2724    Bitcoin  2018-01-05  15158.492      50.700

In [17]:
df[df['day_profit'] > 0]['day_profit'].sum()

333102.07269999996

In [18]:
df['broken_profit'] = df['Close'].diff(7)

In [21]:
df.head(20)

     Asset_Name   timestamp       Close  day_profit  broken_profit
2720    Bitcoin  2018-01-01  13850.1760         NaN            NaN
2721    Bitcoin  2018-01-02  13468.6980   -381.4780            NaN
2722    Bitcoin  2018-01-03  14743.4240   1274.7260            NaN
2723    Bitcoin  2018-01-04  15107.7920    364.3680            NaN
2724    Bitcoin  2018-01-05  15158.4920     50.7000            NaN
2725    Bitcoin  2018-01-06  16935.5560   1777.0640            NaN
2726    Bitcoin  2018-01-07  17118.7640    183.2080            NaN
2727    Bitcoin  2018-01-08  16174.2625   -944.5015      2324.0865
2728    Bitcoin  2018-01-09  14941.9780  -1232.2845      1473.2800
2729    Bitcoin  2018-01-10  14463.1640   -478.8140      -280.2600
2730    Bitcoin  2018-01-11  14915.5380    452.3740      -192.2540
2731    Bitcoin  2018-01-12  13240.4860  -1675.0520     -1918.0060
2732    Bitcoin  2018-01-13  13816.5600    576.0740     -3118.9960
2733    Bitcoin  2018-01-14  14228.8633    412.3033     -2889.9007
2734    Bitcoin  2018-01-15  13582.4852   -646.3781     -2591.7773
2735    Bitcoin  2018-01-16  13581.8533     -0.6319     -1360.1247
2736    Bitcoin  2018-01-17  11256.2000  -2325.6533     -3206.9640
2737    Bitcoin  2018-01-18  11082.9950   -173.2050     -3832.5430
2738    Bitcoin  2018-01-19  11119.6967     36.7017     -2120.7893
2739    Bitcoin  2018-01-20  11520.7483    401.0516     -2295.8117

In [22]:
df[df['broken_profit'] > 0]['broken_profit'].sum()

1001526.1491