In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('data/tubes.csv')

In [5]:
df[
    df['Opening Year'] > 2000
]

                 Line  Opening Year  No Of Stations
11          Elizabeth          2022              41
13  London Overground          2007             113

In [6]:
df[
    df['No Of Stations'] < 20
]

             Line  Opening Year  No Of Stations
9        Victoria          1968              16
10  Waterloo&City          1898               2

In [7]:
df[
    df['Line'].str.contains('City')
]

                  Line  Opening Year  No Of Stations
4   Hammersmith & City          1864              29
10       Waterloo&City          1898               2